.content {
    display: flex;
    align-items: center;
    justify-items: center;
    width: auto;
}

.btn {
    /*background-color: #EAEFF3;*/
    color: black;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}